<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Viewer</title>
  </head>
  <!--  <div id="div_wrapper" onclick="next_image()"> -->
    <body>
      <div id="div_wrapper" onclick="next_image()">
      <!-- <p id="debug_display">{{ response['link'] }}</p> -->
      <span id="loader-spinner" class="loader"></span>
      <img crossorigin="anonymous" id="main_img" src="{{ response['link'] }}"></img>
      </div>
    </body>
    <!-- </div> -->
  <script>
    $(document).ready(function() {
      $("#loader-spinner").hide();
    })

    function switch_image(new_link){
      var img_target = document.getElementById("main_img");
//      if ( !img_target.includes("static")
      img_target.crossOrigin = "Anonymous";
      // img_target.src = new_link;
      if ( new_link.includes("static")) {
        img_target.src = new_link;
      } else {
        img_target.src = new_link+"?not-from-cache-please";
      }

//      var debug = document.getElementById("debug_display");
//      debug.innerHTML = new_link;
    }

    function next_image(){
      //$("#loader-spinner").show();
      $(".loader").show();
//      $.ajaxSetup({
//            headers: { 'Access-Control-Allow-Origin': '*' }
//      });
      $.ajax({
        type: 'GET',
        url: "/viewer_api",
        data: {},
        dataType: "text",
        success: function(resp_data){
          var clean_data = JSON.parse(resp_data)
          switch_image(clean_data['link']);
          console.log("Link Pulled:");
          console.log(clean_data);
          $(".loader").hide();

        }
      });
      // $("#loader-spinner").hide();
      // $(".loader").hide();

    }

  </script>
</html>
