<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Viewer</title>
  </head>
    <body>
      <input type='hidden' id='raw_img_dat' value="{{ response }}">
      <div id='button_div'>
          <button class="trans_button" id="back-button" onclick="get_last_image()">«</button>
      </div>
        <div id="div_wrapper" class="view_full">
          <span id="loader-spinner" class="loader"></span>
          <img crossorigin="anonymous" id="main_img" src="{{ response['link'] }}"></img>
        </div>
        <div id="options_menu" class="menu_closed">
          <p><a class="opts" id="start_toggle" onclick="start_it()"><b>Start</b></a></p>
          <p><a class="opts" id="stop_toggle" onclick="stop_it()"><b>Stop</b></a></p>
          <input type="number" id="timeout_value" name="timeout_value" value=15 />
          <p class="opt-data" id="link_info"><b>{{ response['link'] }}</b></p>
          <p class="opt-data" id="table_info"><b>{{ response['table'] }}</b></p>
          <p><a class="opts" id="add_to_best" onclick="add_to_best()"><b>Best</b></a></p>
          <p><a class="opts" id="go_to_best" href={{ url_for('bests_page') }}><b>Go To Best</b></a></p>
        </div>
    </body>
  <script>
    var sess_hist = [];

    $(document).ready(function() {
      $("#loader-spinner").hide();
    })


    //////// TIMEOUT CHANGES ////////////
    document.getElementById("timeout_value").addEventListener("input", function(){
      if (this.value.length) {
        timeout = this.value;
      } else {
        timeout = 15;
      }
    }, false);
    ///////////////////////////////////////////////

    /////////////// AUTO ADVANCE ///////////////
    const timer = ms => new Promise(res => setTimeout(res, ms));

    var auto_cycle = 0;
    var timeout = 15;

    async function hands_free(timeout) {
      while (auto_cycle === 1) {
        next_image();
        await timer(timeout);
      }
    }

    function start_it() {
      window.auto_cycle = 0; //To turn off the previous start if it's running
      window.auto_cycle = 1;
      timeout = timeout*1000
      hands_free(timeout);
    }

    function stop_it() {
      window.auto_cycle = 0;
    }

    function get_current_link_obj() {
      var img_target = document.getElementById("main_img");
      var opt_table_target = document.getElementById("table_info");
      var raw_img_input = document.getElementById("raw_img_dat");

      return {'link': img_target.src, 'table': opt_table_target.textContext, 'original_link': raw_img_input.value}

    }
    ///////////////////////////////////////////

    document.addEventListener("keydown", (e) => {
      if (e.key === "ArrowUp"){
        open_menu();
      } else if (e.key === "ArrowDown"){
        close_menu();
      } else if (e.key === "ArrowLeft"){
        get_last_image();
      } else if (e.key === "ArrowRight"){
        if (auto_cycle === 1){
          start_it();
        }
        next_image();
      } else if (e.key === " ") {
        if (window.auto_cycle === 0) {
          start_it();
        } else if (window.auto_cycle === 1) {
          stop_it();
        }
      }
    })


    //////////////////// MENU OPENING AND CLOSING /////////////////////////
    document.getElementById("div_wrapper").addEventListener('touchstart', function (event) {
      touchstartX = event.changedTouches[0].screenX;
      touchstartY = event.changedTouches[0].screenY;
    }, false);

    document.getElementById("div_wrapper").addEventListener('touchend', function (event) {
      touchendX = event.changedTouches[0].screenX;
      touchendY = event.changedTouches[0].screenY;
      handleGesture();
    }, false);

    document.getElementById("div_wrapper").addEventListener('mousedown', function (event) {
      clicked = true;
      touchstartX = event.screenX;
      touchstartY = event.screenY;
    }, false);

    document.getElementById("div_wrapper").addEventListener('mousemove', function (event) {
      clicked = false;
    }, false);

    document.getElementById("div_wrapper").addEventListener('mouseup', function (event) {
      if (clicked) {
        next_image();
      }
      touchendX = event.screenX;
      touchendY = event.screenY;
      handleGesture();
      clicked = false;
    }, false);

    document.getElementById("options_menu").addEventListener('touchstart', function (event) {
      touchstartX = event.changedTouches[0].screenX;
      touchstartY = event.changedTouches[0].screenY;
    }, false);

    document.getElementById("options_menu").addEventListener('touchend', function (event) {
      touchendX = event.changedTouches[0].screenX;
      touchendY = event.changedTouches[0].screenY;
      handleGesture();
    }, false);

    document.getElementById("options_menu").addEventListener('mousedown', function (event) {
      clicked = true;
      touchstartX = event.screenX;
      touchstartY = event.screenY;
    }, false);

    document.getElementById("options_menu").addEventListener('mousemove', function (event) {
      clicked = false;
    }, false);

    document.getElementById("options_menu").addEventListener('mouseup', function (event) {
      touchendX = event.screenX;
      touchendY = event.screenY;
      handleGesture();
      clicked = false;
    }, false);

    function open_menu() {
      var opt_menu = document.getElementById("options_menu")
      var img_div = document.getElementById("div_wrapper")
      opt_menu.className = "menu_open";
      img_div.className = "menued"
    }

    function close_menu() {
      var opt_menu = document.getElementById("options_menu")
      var img_div = document.getElementById("div_wrapper")
      opt_menu.className = "menu_closed";
      img_div.className = "view_full"
    }


  function handleGesture() {
    var touch_diff = touchendY-touchstartY;
    if (touch_diff > 10) {
      close_menu();
      }
    if (touch_diff < -10) {
      open_menu();
      }
    }
    ///////////////////////////////////////////////////////


    function add_link_to_history(link_obj) {
      sess_hist.push({'link': link_obj['link'], 'table': link_obj['table']});
    }

    function get_last_image() {
      if (sess_hist.length > 0) {
        switch_image(sess_hist.pop(-1));
      } else {
        alert("You are at the beginning of the session history");
      }
    }



    function switch_image(new_link){
      var img_target = document.getElementById("main_img");
      var opt_link_target = document.getElementById("link_info");
      var opt_table_target = document.getElementById("table_info");
      var raw_img_input = document.getElementById("raw_img_dat");

      img_target.crossOrigin = "Anonymous";
      if ( new_link['link'].includes("static") || new_link['link'].includes("?not-from-cache-please")) {
        var link = new_link['link'];
      } else {
        var link = new_link['link']+"?not-from-cache-please";
      }
      img_target.src = link;
      opt_link_target.textContent = link;
      opt_table_target.textContent = new_link['table'];
      raw_img_input.value = JSON.stringify(new_link); }

    function next_image(){
      $(".loader").show();
      $.ajax({
        type: 'GET',
        url: "/viewer_api",
        data: {'source': 'main'},
        dataType: "text",
        success: function(resp_data){
          var clean_data = JSON.parse(resp_data)
          current_data = get_current_link_obj();
          switch_image(clean_data);
          add_link_to_history(current_data);
          $(".loader").hide();

        }
      });
    }

    function add_to_best(){
      img_data = get_current_link_obj()
      $.ajax({
        type: 'POST',
        url: `/add_to_best?end_link=${JSON.parse(img_data['original_link'])['original_link']}`,
        data: img_data,
        dataType: "text"
      });
    }

  </script>
</html>
