{% extends "base.html" %}

{% block content %}
<input type='hidden' id='raw_img_dat' value='{{ response }}'>
    {% if response['in_best'] == 0 %}
    <div id='best_marker_div' style="display: none;">
      {% else %}
      <div id='best_marker_div'>
        {% endif %}
        <a>♥</a>
      </div>
      <div id='button_div'>
        <button class="trans_button" id="back-button" onclick="get_last_image()">«</button>
      </div>
      <div id="div_wrapper" class="view_full">
        <span id="loader-spinner" class="loader"></span>
        <img crossorigin="anonymous" id="main_img" src="{{ response['link'] }}"></img>
      </div>
      <div id="popup_container" class="popupcont">
        <div id="bestPopUp" class="popup">
          <h2 style="margin-top: 0px; margin-bottom: 1px; height: 60px;">Image was added to best</h2>
        </div>
        <div id="options_menu" class="menu_closed">
          <p><a class="opts" id="blackout" onclick="blackout()"><b>HIDE</b></a></p>
          <p><a class="opts" id="start_toggle" onclick="start_it()"><b>Start</b></a></p>
          <p><a class="opts" id="stop_toggle" onclick="stop_it()"><b>Stop</b></a></p>
          <input type="number" id="timeout_value" name="timeout_value" value=10 />
          <p class="opt-data" id="link_info"><b>{{ response['link'] }}</b></p>
          <p class="opt-data" id="table_info"><b>{{ response['table'] }}</b></p>
          <p><a class="opts" id="add_to_best" onclick="add_to_best()"><b>Add to Best</b></a></p>
          <p><a class="opts" id="go_to_best" href={{ url_for('bests_page') }}><b>Go To Best</b></a></p>
        </div>
      </div>
{% endblock %}

